<!-- Boostrap & jQuery :( scripts -->
<script src="/js/jquery-3.5.1.slim.min.js" defer></script>
<script src="/js/bootstrap.bundle.min.js" defer></script>

<!-- Own scripts -->
<script src="/js/main.js" defer></script>
</body>

</html>