<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/courses">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-school"></i>
                </div>
            </a>
            <!-- Sidebar - Brand -->

            <hr class="sidebar-divider my-0">

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="/courses">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span></a>
            </li>
            <!-- Nav Item -->

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Cursos
            </div>
            <!-- Heading -->

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>Mis cursos</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Algorithms and Data Structures
                        </a>
                        <a class="collapse-item" href="#">Computer Networking
                        </a>
                    </div>
                </div>
            </li>
            <!-- Nav Item -->

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Lecciones</span></a>
            </li>
            <!-- Nav Item -->

            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->