<%- include ('../partials/head') -%>

<body>

    <div class="main">
        <div id="left">
            <div class="videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="controls">
                <div class="controls-block">
                    <div onclick="muteUnmute()" class="controls-button muteable">
                        <i class="fas fa-microphone"></i>
                        <span>Silenciar</span>
                    </div>
                    <div onclick="playStop()" class="controls-button stoppable">
                        <i class="fas fa-video"></i>
                        <span>Detener video</span>
                    </div>
                </div>
                <div class="controls-block">
                    <div class="controls-button">
                        <i class="fas fa-user-friends"></i>
                        <span>Participantes</span>
                    </div>
                </div>
                <div class="controls-block">
                    <div class="controls-button">
                        <a href="/courses/<%= course._id %> ">
                            <span class="text-danger">
                                Abandonar videoconferencia
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="right">
            <div class="chat-header">
                <h6>Chat
                </h6>

            </div>
            <div id="chat-window" class="chat-window">
                <ul id="messages" class="messages">

                </ul>
            </div>
            <div class="chat-type">
                <input type="text" id="chat_message" placeholder="Escribe tu mensaje aquí...">
            </div>
        </div>
    </div>

<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/js/room.js" defer></script>
<script defer>
    const ROOM_ID = "<%= roomID %>"
</script>
<%- include ('../partials/scripts') -%>